<h1>Lista de Registros</h1>

<span *ngIf="listadoClientesWS.length==0" ><!-- este nos ayuda a determinar si el srraylist esta vacio nos indica que no hay contactos-->
  No existen contactos
</span>
<script>
  var contador = 0;
  setInterval(function() {
    contador++;
    document.getElementById("contador").innerHTML = contador;
  }, 1000);
</script>

<body>
  <h2>Clientes</h2>
    <ul>
      <table class="clientes">
        <thead  *ngIf="listadoClientesWS.length !== 0">
            <tr >
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of listadoClientesWS| async">
                <td>{{cliente.cedula}}  </td>
                <td>{{cliente.nombre}}  </td>
                <td>{{cliente.apellido}} </td>
                <td>{{cliente.correo}} </td>
            </tr>
        </tbody>
	    </table>
    </ul>
  
</body>